# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
venv/
#env/
#.env

# Test Reports (Allure)
allure-results/
allure-report/

# Docker
.dockerignore

# macOS system files
.DS_Store

# IDEs
.vscode/
.idea/